body {
      padding: 8px;
      font-family: 'Roboto', sans-serif;
    }
    label {
      display: inline-flex;
      align-items: center;
      color: #fff;
      padding: 15px 20px;
      background-color: #3c8dbc;
      border-color: #367fa9;
      border-radius: 100px;
      cursor: pointer;
    }
    label .material-icons {
      margin-right: 6px;
    }
    .checker:checked + .modal {
      display: flex;
    }
    .modal {
      display: none;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      background-color: rgba(39,102,150,.3);
    }
    .modal-body {
      background-color: #276696;
      border-radius: 18px;
      padding: 18px;
      font-family: 'Roboto', sans-serif;
      color: #fff;
    }
    .modalDecorated{
      background-image: url("../elements/Decoration.png");
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      height: 600px;
    }
    .modal-stepper {
      margin: 20px 0px;
    }
    .modal-content {
      max-width: 600px;
      padding: 15px;
    }
    .bigger {
      max-width: none;
      width: 700px;
    }
    .scrollable {
      max-height: 430px;
      overflow-y: auto;
      margin-bottom: 34px;
      /* Added scrollbar styles for Firefox */
      scrollbar-width: thin;
      scrollbar-color: #fff #6894b5;
    }

    .rotate {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    .modal-content::-webkit-scrollbar {
      width: 4px;
    }
    .modal-content::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.3);
    border-radius: 4px;
    }
    .modal-content::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 4px;
    }
    .modal-footer {
      overflow: hidden;
      margin: 0px 0px 20px;
    }
    .modalIcon {
      color: #fff;
    }
    .right {
      float: right;
    }
    .left {
      float: left;
    }
    .modalBigTitle {
      display: block;
      font-size: 48px;
      line-height: 60px;
      font-weight: 300;
      margin: 30px 0px 30px 0px;
    }
    .spaced {
      margin-top: 130px;
    }
    .modalTitle {
      font-size: 36px;
      line-height: 47px;
      font-weight: 300;
      margin: 0px 0px 30px 0px;
    }
    .modalSmallTitle {
      font-size: 25px;
      line-height: 32px;
      font-weight: 300;
      margin: 0px 0px 30px 0px;
    }
    .titleBullet {
      display: inline-block;
      font-size: 27px;
      font-weight: 700;
      border: 2px solid #fff;
      padding: 15px;
      height: 18px;
      width: 18px;
      border-radius: 100px;
      line-height: 20px;
      margin-right: 20px;
    }
    .modalImage {
      display: block;
      margin: 18px 0px;
    }
    .modalParagraph {
      display: block;
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
      margin: 20px 0px;
    }
    .modalButton {
      font-size: 18px;
      color: #fff;
      margin: 0px 20px;
      padding: 15px 36px;
      border-radius: 100px;
      border: 0px;
    }
    .secButton {
      background-color: #FF8F02;
    }
    .priButton {
      background-color: #43CBCB;
    }

    .cardBoard {
      display: flex;
    }

    .card {
      background: #fff;
      padding: 12px;
      border-radius: 8px;
      width: 104px;
      text-align: left;
      color: #626262;
      margin: 6px;
    }

    .card.done {
      color: #43CBCB;
    }

    .card.pending {
      color: #C6D8E6;
    }

    .cardTitle {
      min-height: 48px;
      font-size: 15px;
      display: block;
    }

    .cardIcon {
      display: inline-block;
      float: right;
      background: #43CBCB;
      color: #fff;
      border-radius: 100px;
      padding: 3px;
    }

    .cardIcon .material-icons {
      font-size: 14px;
    }

    .percProgress {
      float: right;
      display: block;
      clear: both;
    }

    .column {
      float: left;
      width: 50%;
    }

    progress {
    	display:inline-block;
    	width:100%;
    	height:20px;
    	padding:9px 0 0 0;
    	margin:0;
    	background:none;
    	border: 0;
    	border-radius: 18px;
    }

/* Targeting Firefox only */
    @-moz-document url-prefix() {
      progress {
      	height:12px;
      	padding:0;
      	margin:9px 0px;
      	background: #C6D8E6;
      }
    }

    progress::-webkit-progress-bar {
    	height:12px;
    	width:100%;
    	margin:0 auto;
    	background-color: #C6D8E6;
    	border-radius: 15px;
    }
/* UPDATE: Added Mozilla progress class */
    progress::-moz-progress-bar {
    	height:12px;
    	width:100%;
    	margin:0 auto;
    	background-color: #43CBCB;
    	border-radius: 15px;
    }
    progress::-webkit-progress-value {
    	display:inline-block;
    	float:left;
    	height:12px;
    	margin:0px -10px 0 0;
    	background: #43CBCB;
    	border-radius: 12px;
    }

    progress:after {
    	margin:-26px 0 0 -7px;
    	padding:0;
    	display:inline-block;
    	float:left;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

/* Stepper Styles */

#stepProgressBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  margin: 0 auto;
}

.smallProgBar {
  width: 50% !important;
  margin-bottom: 48px !important;
}

#stepSubProgressBar {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 25%;
  margin: 0 auto;
}

#stepVerticalProgressBar .step {

}

.step {
  text-align: center;
  width: 20%;
  position: relative;
}

#stepVerticalProgressBar .step {
  margin: 20px 0px;
}

.step-text {
  margin-bottom: 10px;
  color: #fff;
}

.bullet {
  font-weight: 700;
  border: 0px;
  background-color: #fff;
  padding: 5px;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  color: #276696;
  display: inline-block;
  line-height: 20px;
}

.VerticalBullet {
  font-weight: 700;
  border: 0px;
  background-color: #43CBCB;
  padding: 5px;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  color: #276696;
  display: inline-block;
  line-height: 20px;
}

.VerticalBullet::after {
  content: '';
  position: absolute;
  bottom: -29px;
  left: 15px;
  height: calc(100% - 0px);
  width: 3px;
  background-color: #43CBCB;
  margin-left: 10px;
}

.bullet .material-icons {
  font-size: 18px !important;
  color: #fff;
  font-weight: bold;
  margin-right: 8px;
}

.subBullet {
  font-weight: 700;
  background-color: rgba(255,255,255,0.3);
  border-radius: 100px;
  height: 10px;
  width: 10px;
  display: inline-block;
  line-height: 34px;
  margin-top: 18px;
}

.subBullet.completed {
  background-color: #43CBCB;
}

.bullet.current {
  color: #276696;
  background-color: #43CBCB;
}

.bullet.completed {
  color: #276696;
  background-color: #43CBCB;
}

.bullet::after {
  content: '';
  position: absolute;
  bottom: 12px;
  height: 3px;
  width: calc(100% - 21px);
  background-color: #fff;
  margin-left: 10px;
}

/* OLD STYLE
.bullet.completed::after {
  content: '';
  position: absolute;
  bottom: 12px;
  height: 3px;
  width: calc(100% - 21px);
  background-color: #43CBCB;
  margin-left: 10px;
}
*/

.bullet.completed::after {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 45px;
  height: 3px;
  width: calc(82%);
  background-color: #43CBCB;
  margin-left: -4px;
}



.bulletLast::after {
  display: none;
}

/* Vertical stepper */

.Vstep {

  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background-color: cream;
}

.v-stepper {
  position: relative;
/*   visibility: visible; */
}


/* regular step */
.Vstep .circle {
  background-color: white;
  border: 3px solid #43CBCB;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  color: #276696;
  font-size: 22px;
  font-weight: 700;
}

.Vstep .line {
  top: 40px;
  left: 20px;
/*   height: 120px; */
  height: 100%;
    position: absolute;
    border-left: 3px solid #43CBCB;
}

.Vstep.completed .circle {
  visibility: visible;
  background-color: #43CBCB;
}

.Vstep.completed .line {
  border-left: 3px solid #43CBCB;
}

.Vstep.active .circle {
visibility: visible;
  border-color: #fff;
}

.Vstep.empty .circle {
    visibility: hidden;
}

.Vstep.empty .line {
/*     visibility: hidden; */
/*   height: 150%; */
  top: 0;
  height: 150%;
}


.Vstep:last-child .line {
  border-left: 3px solid white;
  z-index: -1; /* behind the circle to completely hide */
}

.VstepContent {
  margin-left: 20px;
  display: inline-block;
  font-size: 20px;
  text-align: left;
  line-height: 42px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  float: right;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #276696;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.center {
  float: none;
}
